services:
  service_a:
    image: ghcr.io/nathanmccormack/lab6_a/lab6_a:latest
    ports:
      - "8001:8000"
    networks:
      - labnet

  service_b:
    image: ghcr.io/nathanmccormack/lab6_b/lab6_b:latest
    env_file: ./.env
    depends_on:
      - service_a
    ports:
      - "8002:8000"
    networks:
      - labnet

networks:
  labnet:
